.skills--content {
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Quicksand', sans-serif;
}

h3 {
    color: #FFFFFF;
    filter: drop-shadow(0px 0px 2px #969696);
}

.cntn--btn--row button {
    background: transparent !important;
    border: transparent !important;
    font-size: 24px;
    filter: drop-shadow(0px 0px 10px #edbb64);
    animation: seeEduBtn 1.5s infinite;
}

/* @keyframes seeEduBtn {

    from {
        color: #FFFFFF;
        filter: drop-shadow(0px 0px 1px #edbb64);
    }

    50% {
        color: #edbb64;
        filter: drop-shadow(0px 0px 1px #FFFFFF);
    }

    to {
        color: #FFFFFF;
        filter: drop-shadow(0px 0px 1px #edbb64);
    }
} */

.cntn--btn--row button>svg {
    position: absolute;
    animation: seeEduBtnIcon 1.5s infinite;
}

.cntn--btn--row button:hover>svg {
    color: #6495ed !important;
}

@keyframes seeEduBtnIcon {
    from {
        margin-top: 5px;
        color: #FFFFFF;
        filter: drop-shadow(0px 0px 2px #edbb64);

    }

    50% {
        margin-top: 10px;
        color: #edbb64;
        filter: drop-shadow(0px 0px 2px #ffffff);

    }

    to {
        margin-top: 5px;
        color: #FFFFFF;
        filter: drop-shadow(0px 0px 2px #edbb64);


    }
}

@media (max-width: 575px) {
    .cntn--btn--row button {
        font-size: 18px;
    }
}