.chosn--link {
    display: grid;
    place-items: center;
    text-decoration: none !important;
    color: #000000;
    filter: drop-shadow(0px 0px 2px #FFFFFF) !important;
}

.chosn--logo {
    max-height: 75px !important;
}