.tools--row {
    /* background: rgb(218, 230, 251);
    background: linear-gradient(180deg, rgba(218, 230, 251, 0.8155637254901961) 0%, rgba(255, 255, 255, 1) 36%);*/
}

.icon--col {
    display: grid;
    place-items: center;
    transition: 0.3s;
    text-align: center;
    font-size: 18px;
    position: relative;
}

.icon--col:hover {
    filter: drop-shadow(0px 0px 8px #edbb64);
}

.icon--col svg {
    color: #6495ed !important;
    transform: rotateX(118deg) rotateY(180deg) rotateZ(-155deg);
    filter: drop-shadow(0px 0px 1px transparent);
    transition: 0.3s;
}

.icon--col:hover svg {
    display: grid;
    /* color: #EDBB64 !important; */
    /* transform: rotateX(118deg) rotateY(180deg) rotateZ(-155deg) translateX(4px) translateY(9px) translateZ(-40px); */
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateZ(-40px);

}


@media (max-width: 575px) {

    .icon--col {
        font-size: 16px;
    }
}