.education--content {
    background-color: #B1CAF6;
    font-size: 18px !important;
    height: 100vh !important;
    display: grid;
    place-items: center;
    font-family: 'Quicksand', sans-serif;
}

.education--content p {
    /* text-indent: 1em; */
    line-height: 2.5;
}

.bs--span, .as--span {
    margin-left: 6px;
    /* margin-left: 1ch; */
    font-weight: 700;
    font-size: 21px;
    /* filter: drop-shadow(0px 0px 2px #FFFFFF); */
    filter: drop-shadow(0px 0px 2px #edbb64);
}

.degree--icon,
.education--icon {
    margin-left: 3px;
    vertical-align: bottom !important;
}

.degree--icon {
    margin-right: 3px;
    vertical-align: text-bottom !important;

}

.education--icon {
    color: rgb(0, 0, 0) !important;
    vertical-align: text-bottom !important;
}

.school--logo {
    margin-left: 1ch;
    vertical-align: text-bottom;
    max-height: 25px;
}


@media (max-width: 575px) {
    .education--content {
        font-size: 16px !important;
    }

    .bs--span, .as--span {
        font-size: 19px;
    }
}