.education--content {
    background-color: #B1CAF6;
    font-size: 18px !important;
    /* height: 100vh !important; */
    min-height: 100vh !important;
    flex-grow: 1;
    display: grid;
    place-items: center;
    font-family: 'Quicksand', sans-serif;
}

.education--content p {
    /* text-indent: 1em; */
    line-height: 2.5;
}

.bs--span, .as--span {
    margin-left: 6px;
    font-weight: 700;
    font-size: 21px;
    /* filter: drop-shadow(0px 0px 2px #FFFFFF); */
    filter: drop-shadow(0px 0px 2px #edbb64);
    transition: 0.3s;
}

/* .bs--span:hover,
.bs--span:hover .degree--icon,
.bs--span:hover .education--icon,
.as--span:hover,
.as--span:hover .degree--icon,
.as--span:hover .education--icon {
    color: yellow !important;
    transform: scale(1.25) !important;
} */

.degree--icon,
.education--icon {
    transition: 0.3s;
    margin-left: 3px;
}

.degree--icon {
    margin-right: 3px;
    vertical-align: text-bottom !important;
}

.education--icon {
    color: rgb(0, 0, 0) !important;
    vertical-align: text-bottom !important;
}

.school--logo {
    transition: 0.3s;
    margin-left: 1ch;
    vertical-align: text-bottom;
    max-height: 25px;
}


@media (max-width: 575px) {
    .education--content {
        font-size: 16px !important;
    }

    .bs--span, .as--span {
        font-size: 19px;
    }
}