svg {
    color: #6495ed !important;
}

.icon--col {
    display: grid;
    place-items: center;
    transition: 0.3s;
    text-align: center;
}

.icon--col:hover {
    filter: drop-shadow(0px 0px 3px #edbb64);
}