.icon--col {
    display: inline-block;
    place-items: center;
    transition: 0.3s;
    text-align: center;
    font-size: 18px;
    position: relative;
}

.icon--col:hover {
    filter: drop-shadow(0px 0px 3px #edbb64);
}

.icon--col svg {
    color: #6495ed !important;
    transform: rotateX(118deg) rotateY(180deg) rotateZ(-155deg);
    /* filter: drop-shadow(-26px -50px 1px transparent); */
    filter: drop-shadow(0px 0px 1px transparent);
    transition: 0.3s;
}

.icon--col svg:nth-child(even) {
    /* display: none; */
    color: transparent !important;
    transform: rotateX(118deg) rotateY(180deg) rotateZ(-155deg) translateX(4px) translateY(9px) translateZ(-20px);
    position: absolute;
    transition: 0.3s;
}

.icon--col:hover svg:nth-child(even) {
    display: grid;
    color: #EDBB64 !important;
    transform:
        rotateX(118deg) rotateY(180deg) rotateZ(-155deg) translateX(4px) translateY(9px) translateZ(-40px);

    /* transform: translateY(-20px); */
    /* filter: drop-shadow(-20px -50px 0px #EDBB64); */
}


@media (max-width: 575px) {

    .icon--col {
        font-size: 16px;
    }
}