.icon--col {
    display: grid;
    place-items: center;
    transition: 0.3s;
    text-align: center;
    font-size: 18px;
}

.icon--col:hover {
    filter: drop-shadow(0px 0px 3px #edbb64);
}

svg {
    color: #6495ed !important;
    transform: rotateX(118deg) rotateY(180deg) rotateZ(-155deg);
    /* filter: drop-shadow(-26px -50px 1px transparent); */
    filter: drop-shadow(0px 0px 1px transparent);
    transition: 0.3s;
}

.icon--col:hover svg {
    filter: drop-shadow(-26px -50px 1px #EDBB64);
}


@media (max-width: 575px) {

    .icon--col {
        font-size: 16px;
    }
}