body {
    scroll-behavior: smooth;
}

.home--read--more--btn {
    background-color: transparent !important;
    color: black !important;
    border: 0 !important;
    position: relative;
    transition: transform 0.3s ease-out, filter 0.3s ease !important;
}

.home--read--more--btn:hover,
.home--read--more--btn:active {
    background-color: transparent !important;
    color: black !important;
    filter: drop-shadow(0px 0px 2px cornflowerblue);
    border: 0 !important;
}

.home--read--more--btn.clicked {
    filter: drop-shadow(0px 0px 2px cornflowerblue);
    transform: translateX(8px) !important;
}

.resume--icon {
    cursor: pointer;
    animation: iconPosition 750ms infinite;
    transition: filter 0.3s ease !important;
}

.resume--icon:hover {
    filter: drop-shadow(0px 0px 2px cornflowerblue);
}

@keyframes iconPosition {
    from {
        margin-top: -5px;
    }

    50% {
        margin-top: 5px;
    }

    to {
        margin-top: -5px;
    }
}