@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Questrial&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    scroll-behavior: smooth;
    background-color: #B1CAF6 !important;
}

.home--content {
    height: 100vh;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    background-color: #B1CAF6;
    color: white;
}

.hire--me--txt {
    transition: box-shadow 0.3s ease;
}

.home--read--more--btn {
    padding: 0px 5px;
    margin-left: 12px;
    font-size: 24px;
    background-color: transparent;
    color: white;
    border: 1px solid transparent;
    position: relative;
    transition: transform 0.3s ease-out, filter 0.3s ease, border 0.3s ease !important;
    animation: readMoreBtn 1.5s infinite;
}

.hire--me--txt,
.home--read--more--btn,
.check--resume--txt,
.check--education--txt,
.get--in--touch--txt {
    font-size: 24px;
    filter: drop-shadow(0px 0px 2px #969696) !important;

}

@keyframes readMoreBtn {
    0% {
        border-color: transparent;
        filter: drop-shadow(0px 0px 10px #edbb64) !important;

    }

    50% {
        border-color: #edbb64;
        filter: drop-shadow(0px 0px 2px #969696);

    }

    100% {
        border-color: transparent;
        filter: drop-shadow(0px 0px 10px #edbb64) !important;

    }
}



.home--read--more--btn:hover,
.home--read--more--btn:active {
    /* border: 1px solid #edbb64 !important; */
    background-color: transparent !important;
    color: rgb(255, 255, 255) !important;
    /* border: 0 !important; */
}

.home--read--more--btn.clicked {
    border: 1px solid #edbb64 !important;
    /* filter: drop-shadow(0px 0px 5px #B1CAF6) !important; */
    filter: drop-shadow(0px 0px 5px #edbb64) !important;
    transform: translateX(8px) !important;
}

.resume--icon {
    cursor: pointer;
    animation: iconPosition 750ms infinite;
    transition: filter 0.3s ease !important;
    margin-top: 10px;
    transition: 0.3s !important;
}


.resume--icon:hover {
    color: white;
    filter: drop-shadow(0px 0px 2px #ffffff) !important;
}

@keyframes iconPosition {
    from {
        margin-top: 10px;
    }

    50% {
        margin-top: 15px;
    }

    to {
        margin-top: 10px;
    }
}

@media (max-width: 575px) {

    .hire--me--txt,
    .home--read--more--btn,
    .check--resume--txt {
        font-size: 16px;
    }

    .resume--icon {
        margin-top: 0px;
    }

    @keyframes iconPosition {
        from {
            margin-top: 0px;
        }

        50% {
            margin-top: 5px;
        }

        to {
            margin-top: 0px;
        }
    }

}