.intro--mother--container {

    /* background-color: #B1CAF6; */
    min-height: 100vh;
    flex-grow: 1;
    display: grid;
    place-items: center;
}

.intro--content {
    min-height: 100vh;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.hire--me--txt {
    transition: box-shadow 0.3s ease;
}

.intro--read--more--btn {
    padding: 0px 5px;
    margin-left: 12px;
    font-size: 24px;
    background-color: transparent;
    color: white;
    border: 1px solid transparent;
    position: relative;
    transition: transform 0.3s ease-out, filter 0.3s ease, border 0.3s ease !important;
    animation: readMoreBtn 1.5s infinite;
}

.hire--me--txt,
.intro--read--more--btn,
.check--resume--txt,
.check--education--txt,
.get--in--touch--txt a {
    color: white;
    font-size: 24px;
    filter: drop-shadow(0px 0px 2px #969696) !important;

}

@keyframes readMoreBtn {
    0% {
        border-color: transparent;
        filter: drop-shadow(0px 0px 10px #edbb64) !important;

    }

    50% {
        border-color: #edbb64;
        filter: drop-shadow(0px 0px 2px #969696);

    }

    100% {
        border-color: transparent;
        filter: drop-shadow(0px 0px 10px #edbb64) !important;

    }
}



.intro--read--more--btn:hover,
.intro--read--more--btn:active {
    /* border: 1px solid #edbb64 !important; */
    background-color: transparent !important;
    color: rgb(255, 255, 255) !important;
    /* border: 0 !important; */
}

.intro--read--more--btn.clicked {
    border: 1px solid #edbb64 !important;
    /* filter: drop-shadow(0px 0px 5px #B1CAF6) !important; */
    filter: drop-shadow(0px 0px 5px #edbb64) !important;
    transform: translateX(8px) !important;
}

.resume--icon {
    cursor: pointer;
    animation: iconPosition 750ms infinite;
    transition: filter 0.3s ease !important;
    margin-top: 10px;
    transition: 0.3s !important;
}


.resume--icon:hover {
    color: white;
    filter: drop-shadow(0px 0px 2px #ffffff) !important;
}

@keyframes iconPosition {
    from {
        margin-top: 10px;
    }

    50% {
        margin-top: 15px;
    }

    to {
        margin-top: 10px;
    }
}

.get--in--touch--txt a {
    transition: 0.3s;
    max-width: fit-content !important;
}

.get--in--touch--txt a:hover {
    transition: 0.3s;
    color: #6495ed;
    filter: drop-shadow(0px 0px 5px #edbb64) !important;
}

.get--in--touch--txt a .mail {
    position: absolute;
    margin-top: -17px;
    animation: mailIcon 1.5s infinite;
    transition: 0.3s;
}

.get--in--touch--txt a:hover .mail {
    margin-left: 20px;
    transform: scale(1.6) rotate(22deg);
    color: #6495ed !important;
}

/* .mail.open {
    color: rgb(13, 110, 253);
} */

@keyframes mailIcon {
    from {
        color: #FFFFFF;
    }

    50% {
        color: rgb(13, 110, 253);
    }

    to {
        color: #FFFFFF;
    }
}

@media (max-width: 575px) {

    .hire--me--txt,
    .intro--read--more--btn,
    .check--resume--txt,
    .check--education--txt,
    .get--in--touch--txt a {
        font-size: 16px;
    }

    .resume--icon {
        margin-top: 0px;
    }

    @keyframes iconPosition {
        from {
            margin-top: 0px;
        }

        50% {
            margin-top: 5px;
        }

        to {
            margin-top: 0px;
        }
    }

}