.prjcts--content {
    height: 100vh;
    flex-grow: 1;
    display: grid;
    place-items: center;
    font-family: 'Quicksand', sans-serif;
}

.read--more--btn {
    background-color: transparent !important;
    color: #000000 !important;
    border: 0 !important;
    padding: 0;
}