.prjcts--content {
    height: 100vh;
    flex-grow: 1;
    display: grid;
    place-items: center;
    font-family: 'Quicksand', sans-serif;
}

.read--more--btn {
    background-color: transparent !important;
    color: #ffffff !important;
    border: 0 !important;
    padding: 0;
    transition: 0.3s;
}

.read--more--btn:hover {
    filter: drop-shadow(0px 0px 5px #EDBB64) !important;

}