.contacts--content {
    height: 100vh;
    flex-grow: 1;
    display: grid;
    place-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    color: white;
    filter: drop-shadow(0px 0px 2px #969696);
    /* background-image: url('../../assets/csunLogo.png'); */
}

.contacts--content h3 {
    color: white;
    filter: drop-shadow(0px 0px 2px #969696);
}

.cntcts--icon.linkedin {
    padding: 7px;
    border-radius: 5px !important;
    /* border: 2px solid #000000 !important; */
    background-color: cornflowerblue;
    /* border: 2px solid cornflowerblue !important; */
    color: rgb(255, 255, 255) !important;
    margin-top: 20px;
    z-index: 1;

}



/* .cntcts--link .cntcts--icon {
    z-index: 2;
    color: white !important;
    
} */

@media (max-width: 575px) {
    .contacts--content {
        font-size: 16px;
    }
}