.contacts--content {
    height: 100vh;
    flex-grow: 1;
    display: grid;
    place-items: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    color: white;
    /* filter: drop-shadow(0px 0px 2px #969696); */
}

.contacts--content h3 {
    color: white;
    filter: drop-shadow(0px 0px 2px #969696);
}

.cntcts--icon.linkedin,
.cntcts--icon.email {
    padding: 7px;
    border-radius: 5px !important;
    background-color: cornflowerblue;
    color: rgb(255, 255, 255) !important;
    margin-top: 15px;
    z-index: -1;
    height: 57px !important;
    width: 57px !important;
    transition: 0.3s;
    /* filter: drop-shadow(0px 0px 5px #969696) !important; */

}

.cntcts--link {
    /* color: #ffffff; */
    color: #000000;
    font-weight: 400;
    text-decoration: none !important;
    filter: drop-shadow(0px 0px 2px #969696);
    /* filter: drop-shadow(0px 0px 3px #ffffff); */
    transition: 0.3s;
}

.cntcts--link:hover {
    filter: drop-shadow(0px 0px 8px #edbb64) !important;

}

.cntcts--link:hover .email,
.cntcts--link:hover .linkedin {
    /* background-color: #276BE5; */
    transform: scale(1.25);
    white-space: nowrap !important;
    color: #edbb64 !important;
}


@media (max-width: 575px) {
    .contacts--content {
        font-size: 16px;
    }
}